body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 600px;
    height: 600px;
    overflow: hidden;
    border: 1px solid lightblue;
    margin-top: 2rem;
}

#container div {
    display: inline;
    box-sizing: border-box;
}

/* #container div:hover {
    background-color: lightpink;
} */

.add-color {
    background-color: lightblue;
}